<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
        </div>
        <textarea name="postTitle" cols="160" rows="1"></textarea>
    </div>


    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Post</span>
        </div>
        <textarea name="postContent" cols="160" rows="10"></textarea>
    </div>
</form>

<%- include("partials/footer") -%>